<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
    	{{link-to 'Class Gauge' 'index' class="navbar-brand"}}
    	<p class="navbar-text">A tool for quickly gauging understanding.</p>
    </div>
  </div>
</nav>

<div class="container">
	{{outlet}}
</div>
