<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-primary panel-custom">
		  <div class="panel-heading">
		    <h3 class="panel-title">Step 1: Create a lesson</h3>
		  </div>
		  <div class="panel-body text-center">
		  	<p><span class="glyphicon glyphicon-edit glyphicon-custom"></span></p>
		    <div class="input-group">
		      {{input type="text" class="form-control" placeholder="Your lesson's name..." value=lessonName action="createLesson" on="enter"}}
		      <span class="input-group-btn">
		        <button class="btn btn-primary" {{action "createLesson"}}>Create Lesson</button>
		      </span>
		    </div>
		  </div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4 col-md-offset-2">
		<div class="panel panel-info panel-custom">
		  <div class="panel-heading">
		    <h3 class="panel-title">Step 2: Copy code into your slides</h3>
		  </div>
		  <div class="panel-body text-center">
		    <p><span class="glyphicon glyphicon-file glyphicon-custom"></span></p>
		    <p class="text-muted">The code will be available for you to copy on the next page.</p>
		  </div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-success panel-custom">
		  <div class="panel-heading">
		    <h3 class="panel-title">Step 3: Poll your students</h3>
		  </div>
		  <div class="panel-body text-center">
		    <p><span class="glyphicon glyphicon-stats glyphicon-custom"></span></p>
		    <p class="text-muted">It's as simple as clicking one button.</p>
		  </div>
		</div>
	</div>
</div>