{{partial 'partials/lessonHeader'}}

<div class="row">
  {{#each survey in sortedSurveys}}
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          {{format-date survey.timestamp}}
        </div>

        <div class="panel-body">
          {{ember-chart data=survey.chartData type='pie' width=200 height=200 class='center-block'}}
        </div>
      </div>
    </div>
  {{else}}
    <div class="col-md-12 text-center">
      <p>No Surveys! Poll to get started.</p>
    </div>
  {{/each}}
</div>